<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.zln.cmfz.dao.MasterDao">

    <resultMap id="MasterMap" type="com.zln.cmfz.entity.Master">
        <id property="masterId" column="master_id"></id>
        <result property="masterName" column="master_name"></result>
        <result property="masterPhoto" column="master_photo"></result>
        <result property="masterSummary" column="master_summary"></result>
    </resultMap>

    <select id="selectAllMaster" resultMap="MasterMap">
        select * from t_master limit #{begin},#{end}
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(*) from t_master
    </select>

    <insert id="insertMaster">
        insert into t_master
        values(#{masterName},#{masterPhoto},#{masterSummary})
    </insert>

    <update id="updateMaster">
        update t_master
        set master_name=#{masterName},master_photo=#{masterPhoto},master_summary=#{masterSummary}
        where master_id=#{masterId}
    </update>

     
</mapper>
