<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.zln.cmfz.dao.MenuDao">

    <resultMap id="MenuMap" type="com.zln.cmfz.entity.Menu">
        <id property="menuId" column="m1_menu_id"></id>
        <result property="menuName" column="m1_menu_name"></result>
        <result property="menuCode" column="m1_menu_code"></result>
        <result property="menuIcon" column="m1_menu_icon"></result>
        <result property="menuUrl" column="m1_menu_url"></result>
        <result property="menuLevel" column="m1_menu_level"></result>
        <result property="menuParentId" column="m1_menu_parent_id"></result>
        <collection property="secondMenuList" ofType="Menu">
            <id property="menuId" column="m2_menu_id"></id>
            <result property="menuName" column="m2_menu_name"></result>
            <result property="menuCode" column="m2_menu_code"></result>
            <result property="menuIcon" column="m2_menu_icon"></result>
            <result property="menuUrl" column="m2_menu_url"></result>
            <result property="menuLevel" column="m2_menu_level"></result>
            <result property="menuParentId" column="m2_menu_parent_id"></result>
        </collection>
    </resultMap>


    <select id="selectAllMenus" resultMap="MenuMap">
        SELECT
        m1.menu_id m1_menu_id,
        m1.menu_name m1_menu_name,
        m1.menu_code m1_menu_code,
        m1.menu_icon m1_menu_icon,
        m1.menu_level m1_menu_level,
        m2.menu_id m2_menu_id,
        m2.menu_name m2_menu_name,
        m2.menu_code m2_menu_code,
        m2.menu_icon m2_menu_icon,
        m2.menu_url m2_menu_url,
        m2.menu_level m2_menu_level
        FROM
        t_menu m1
        LEFT OUTER JOIN t_menu m2 ON m1.menu_id = m2.menu_parent_id
        WHERE
        m1.menu_level = 1
    </select>
     
</mapper>
